:root {
  --banner: #0a0908;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

.gryffindor {
  background-image: url(images/gryffindor.jpg);
}

.slytherin {
  background-image: url(images/slytherin.jpg);
}

.hufflepuff {
  background-image: url(images/hufflepuff.jpg);
}

.ravenclaw {
  background-image: url(images/ravenclaw.jpg);
}

.parallax {
  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.effect {
  position: fixed;
  width: 100%;
  height: 100vh;

  background: orange;
}

.effect.luminosity {
  mix-blend-mode: luminosity;
}

.effect.multiply {
  mix-blend-mode: multiply;
}

.effect.saturation {
  mix-blend-mode: saturation;
}

.effect.soft-light {
  mix-blend-mode: soft-light;
}

.effect video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}